html {
  font-size: 16px;
  line-height: 1.5;
  font-family: $fontFamily;
}
body {
  line-height: 1.5;
}

// Heading Elements
h1 {
  font-size: 44px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
p {
  font-size: 16px;
}

// Align Text
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

// Flex
.flex {
  @extend %flex;
}

// Responsive image
.img-responsive {
  width: 100%;
  height: 0;
}

// Padding
.padding {
  padding: 80px 0;
}

// Heading
.heading {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: $secondary;
  text-align: center;
  .about & {
    color: #ffffff;
  }
}
